*{ 
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    background-color: rgba(94, 51, 250, 0.37);
}
.navbar{
    width: 99%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;

}
.searchbar{
    display: flex;
    align-items: center;
    background-color: #ecf5fff3;
    border-radius: 6px;
    padding: 0px 5px;
    width: 40%;
    box-sizing: border-box;
}
.searchbar input{
    background-color: #ecf5fff3;
    outline: none;
    padding: 6px 0px ;
    border: none;
    border-top-right-radius: 6px;
    width: 100%;
}


.textone{
   font-size: 1rem;
   
}
 /* --------------------redirectbar------------------- */
.container {
   width: 99% ;
   margin: auto;
   background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 60px;
   box-sizing: border-box;
}
.insidecontainer{
   height: 80%;
   width: 133px;
   background-color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.containercontent{
   width: 64px;
   height: 64px;
   margin-bottom: 5px;
}
.containercontent img{
   width: 100%;
}
.contenttitle{
   font-size: 10px;
   font-weight: bold;
   font-family: sans-serif;
   background-color: rgb(255, 255, 255);
 }
 /* ========================Hero========================== */
 .herodiv{
   width: 99%;
   margin: 2px auto 0px auto;
   display:
}
 .heroimg{
   width: 100%;
   display: block;

 }
 .forborder{
   background-color: rgb(255, 255, 255);
   width: 99%;
   margin: 0px auto 1px auto;
   height: 10px;
   display: flex;
   justify-content: center;
   
 }
 .border{ 
   height: 0px;
   border: 2px dashed black;
   width: 10%;
   margin: auto;

 }
/* ============================itemlist======================= */
.itemcaption{
   width: 99%;
   background-color: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   margin: auto ;
   padding: 16px 20px 16px 30px;
   box-sizing: border-box;
   font-weight: bolder;
   font-family: sans-serif;
  
}
.itemcontainer{
   width: 99%;
   background-color: rgb(255, 255, 255);
   margin: auto;
   display: flex;
   justify-content: space-around;
   box-sizing: border-box;
   padding: 0px 50px;

}
.itembox{
   width: 110px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: start;
}
.itembox img{
   height: 90%;
   width: 100%;
}
.itemtext{
   font-size: 16px;
   text-align: center;
   font-family: sans-serif;
   background-color: rgb(255, 255, 255);
   
}
.Ratelabel{
   font-size: 15px;
   font-weight: bold;
   font-family: sans-serif;
   background-color: rgb(255, 255, 255);
   text-align: center;
   padding-bottom: 10px;
}
.footer{
   width: 99%; 
   margin: auto;
   background-color: rgb(32, 32, 32);
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 20px;
   box-sizing: border-box;
   border-bottom: 5px solid white;
}
.detailbox{
   box-sizing: border-box;
   width: 16%;
   color: rgb(255, 255, 255);
   
}
ul li{
   font-size: 0.3rem;
}
.footcap{
   font-family: sans-serif;
   color: rgb(209, 209, 209);
   font-size: 0.5rem;
}


                              /* tilwing */
                              .til{
                                 display: flex;
                                 justify-content: center;
                                 align-items: center;
                              }

/* ========================responsive==================================== */
@media (max-width : 1024px ) {
   .navbar img{
      width: 120px;
   }
   .searchbar{
      width: 32%;
      
   }
   .textone{
      font-size: 0.8rem;
   }
   .container{
      flex-wrap: wrap;
   }
   .insidecontainer{
      width: 150px;
   }
   .contenttitle{
      font-size: 6px;
   }
   .herodiv{
      height:190px;
   }
   .herodiv img{
      height: 100%;

   }
   .itemcaption{
      font-size: 17px;
   }
   .itemcontainer{
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   .itembox{
      width: 120px ;

   }
   .itemtext{
      font-size: 14px;
   }
   .footer{
      flex-wrap: wrap;
   }
    .detailbox{
       width: 250px;    
      }
}
/* /--------------------------768---------------------/ */
   @media (max-width : 768px ) {
      .navbar img{
      width: 100px;
   }
   .searchbar{
      width: 30%;
      
   }
   .textone{
      font-size: 0.6rem;
   }
   
   
   
   .contenttitle{
      font-size: 4px;
   }
   .herodiv{
      height:190px;
   }
  
   .itemcaption{
      font-size: 13px;
   }
   
   .itembox{
      width: 120px ;

   }
   .itemtext{
      font-size: 11px;
   }
   
    .detailbox{
       width: 200px;    
      }

      }
@media (max-width : 699px ){
   .itemcontainer{
      justify-content:space-evenly ;
   }
}
